@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 69% 88%;
    --foreground: 24 10% 10%;
    --card: 40 60% 92%;
    --card-foreground: 24 10% 10%;
    --popover: 40 60% 92%;
    --popover-foreground: 24 10% 10%;
    --primary: 28 100% 50%;
    --primary-foreground: 30 100% 98%;
    --secondary: 44 100% 80%;
    --secondary-foreground: 24 10% 10%;
    --muted: 40 30% 80%;
    --muted-foreground: 40 10% 45%;
    --accent: 44 100% 69%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 75%;
    --input: 40 20% 80%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 44 100% 69%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 40 60% 92%;
    --card: 24 10% 15%;
    --card-foreground: 40 60% 92%;
    --popover: 24 10% 15%;
    --popover-foreground: 40 60% 92%;
    --primary: 28 100% 50%;
    --primary-foreground: 30 100% 98%;
    --secondary: 44 100% 20%;
    --secondary-foreground: 40 60% 92%;
    --muted: 24 10% 20%;
    --muted-foreground: 40 10% 60%;
    --accent: 44 100% 69%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 25%;
    --input: 24 10% 25%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 44 100% 69%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
